/* Pallette: https://coolors.co/424b54-b38d97-d5aca9-ebcfb2-c5baaf */

* {
    font-family: Verdana, Tahoma, sans-serif;
}
h1 {
    background-color: #B38D97;
    text-align: center;
}
h2 {
    background-color: #D5ACA9;
}

.mainimage {
    height: auto;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    background-color: #EBCFB2;
    border-radius: 24px;
}